## let's manipulate dataframes ##

#### Objective
Write a Pandas program to create and display a DataFrame from the following dictionary data with index labels.

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

##########################################################################################


labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

<p> <span style="color:blue"> 1/ Print the three <em>first rows using</em> the head() method.</span>.</p>

In [ ]:
import pandas as pd
data = pd.DataFrame(exam_data)
data.to_csv('Data.csv')
new_data.head(3)

:

##### 2/Delete rows with Nan values.

In [ ]:
df.drop("country", axis=1) #axis=1 yaani column , axis=0 or index yaani rows

##### 3/Extract the 'name' and 'score' columns from the DataFrame.

In [ ]:
import pandas as pd 
import numpy as np 

D=pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},index= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(D[["name","score"]])

##### 4/Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").

In [ ]:
import pandas as pd 
import numpy as np 

D1=pd.DataFrame({"name": ["Anastasia", "Dima", "Katherine", "James", "Emily", "Michael", "Matthew", "Laura", "Kevin", "Jonas"],"score": [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],"attempts": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],"qualify": ["yes", "no", "yes", "no", "no", "yes", "yes", "no", "no", "yes"]},index=["a","b","c","d","e","f","g","h","i","j"])
D2=pd.DataFrame({"name":  "Suresh","score": 15.5, "attempts": 1, "qualify":"yes"},index=['k'])  #colum "nom " de  core 15.5 et nombre d'éssai égale à 1 et qualifié  
D=pd.concat([D1,D2])
print(D)

##### 5/Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [ ]:
import pandas as pd 
import numpy as np 
D=pd.concat([pd.DataFrame({"name": ["Anastasia", "Dima", "Katherine", "James", "Emily", "Michael", "Matthew", "Laura", "Kevin", "Jonas"],"score": [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],"attempts": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],"qualify": ["yes", "no", "yes", "no", "no", "yes", "yes", "no", "no", "yes"]},index=["a","b","c","d","e","f","g","h","i","j"]),pd.DataFrame({"name":  "Suresh","score": 15.5, "attempts": 1, "qualify":"yes"},index=['k'])])
print("\n",D.drop(columns="attempts"))

##### 6/Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.

In [ ]:
import pandas as pd 
import numpy as np 
D=pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},index=[ ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']])
S=D.drop(index=["h","d"])
print(S)
S["Succes"]=[1 if D["score"][x] >10 else 0 for x in range(8) ] #comparer à chaque foix lélement du colonne "score" avec 10 
print(S)

7/After executing the final DataFrame, export it into a CSV file named "my_data".

In [ ]:
import pandas as pd 
import numpy as np 
D=pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},index=[ ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']])
S=D.drop(index=["h","d"])
print(S)
S["Succes"]=[1 if D["score"][x] >10 else 0 for x in range(8) ]
print(S)
S.to_csv("my_data.csv")  #convert to csv file
my_data=pd.read_csv("my_data.csv")